<%= javascript_include_tag "//static.opentok.com/webrtc/v2.2/js/TB.min.js" %>
<br>
<br>
<br>
<br>
<br>
<div class="col-lg-12 col-sm-12">
	<div class="col-lg-3 col-sm-3">
	<h1>Your stream</h1>
	Link to your stream: <%= link_to user_stream_viewers_path(user_id: @stream.user.id, stream_id: @stream.id), user_stream_viewers_path(user_id: @stream.user.id, stream_id: @stream.id) %><br><br><br><br>
	<button type="button" class="btn btn-primary btn-lg col-md-12">Give Credit</button>
	</div>
	<div class="col-lg-6 col-sm-6">
	<div id="publisher"></div>
	</div>
	<div class="col-lg-3 col-sm-3">
	<h1>Chatbox here</h1>
	</div>
</div>