<h1> Choose your rewards </h1>

<p> demo </p>
    <p> $10 - Hero access to creators personal updloads </p>
    <p> $20 - Access to heroes personal techniques </p>
    <p> $30 - One on One sessions with the citizen itself </p>  

<h1> Pledge and Rescue </h1>



<form id="checkout-form" action="/users/<%= @user.id %>/campaigns/<%= @campaign.id %>/be_hero" method="post">
  <div id="error-message"></div>

  <label for="card-number">Card Number</label>
  <div class="hosted-field" id="card-number"></div>

  <label for="cvv">CVV</label>a
  <div class="hosted-field" id="cvv"></div>

  <label for="expiration-date">Expiration Date</label>
  <div class="hosted-field" id="expiration-date"></div>

  <input type="hidden" name="payment_method_nounce">
  <input type="submit" value="Pay $10" disabled>
</form>


<!-- Load the Client component. -->
<script src="https://js.braintreegateway.com/web/3.6.0/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.6.0/js/hosted-fields.min.js"></script>
<!-- Load the Hosted Fields component. -->
<script>
var form = document.querySelector('#checkout-form');
var submit = document.querySelector('input[type="submit"]');
var authorization = "<%= @client_token %>";
braintree.client.create({
  // Replace this with your own authorization.
  authorization: authorization

}, function (clientErr, clientInstance) {
  if (clientErr) {
    // Handle error in client creation
    return;
  }

  braintree.hostedFields.create({
    client: clientInstance,
    styles: {
      'input': {
        'font-size': '14pt'
      },
      'input.invalid': {
        'color': 'red'
      },
      'input.valid': {
        'color': 'green'
      }
    },
    fields: {
      number: {
        selector: '#card-number',
        placeholder: '4111 1111 1111 1111'
      },
      cvv: {
        selector: '#cvv',
        placeholder: '123'
      },
      expirationDate: {
        selector: '#expiration-date',
        placeholder: '10/2019'
      }
    }
  }, function (hostedFieldsErr, hostedFieldsInstance) {
    if (hostedFieldsErr) {
      // Handle error in Hosted Fields creation
      return;
    }

    submit.removeAttribute('disabled');

    form.addEventListener('submit', function (event) {
      event.preventDefault();

      hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
        if (tokenizeErr) {
          // Handle error in Hosted Fields tokenization
          return;
        }

        // Put `payload.nonce` into the `payment-method-nonce` input, and then
        // submit the form. Alternatively, you could send the nonce to your server
        // with AJAX.
        document.querySelector('input[name="payment_method_nounce"]').value = payload.nonce;
        form.submit();
      });
    }, false);
  });
});
</script>
