<h1> Choose your rewards </h1>

<p> demo </p>
	<p> $10 - Hero access to creators personal updloads </p>
	<p> $20 - Access to heroes personal techniques </p>
	<p> $30 - One on One sessions with the citizen itself </p>	

<h1> Pledge and Rescue </h1>

Pledge to: <%= @campaign.user.profile.username %>

