// Place all the styles related to the Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.well {
    margin-top: -10px;
}

.card {
    margin-top: 20px;
    padding: 40px;
    background-color: black;
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 200px;
}
.card-background img {
    background-size: 100%;
    -webkit-background-size: 100% auto;
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
    width: 100%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {

    width:  200px;
    height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid white;
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;

}


/*----------------------------------------------------*/
/*----------------- Testimonials CSS -----------------*/
/*----------------------------------------------------*/
.testimonial{
    margin-bottom: 10px;
}

    .testimonial-section {
        width: 80%;
        height: auto;
        padding: 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        position: relative;
        border: 1px solid #fff;
    }
    .testimonial-section:after {
        top: 22%;
        left: 105%;
        border: solid transparent;
        transform: rotate(-90deg);
        content: " ";
        position: absolute;
        border-top-color: #fff;
        border-width: 15px;
        margin-left: 0px;
    }

    .testimonial-desc {
        margin-top: 20px;
        text-align:left;
        padding-left: 15px;
    }
        .testimonial-desc img {
            border: 1px solid #f5f5f5;
            border-radius: 150px;
            float: right;
            height: 70px;
            padding: 3px;
            width: 70px;
            display:inline-block;
            vertical-align: top;
        }

        .testimonial-writer{
            float: right;
            float: top;
            display: inline-block;
            vertical-align: top;
            padding-left: 10px;
        }

            .testimonial-writer-name{
                font-weight: bold;
            }

            .testimonial-writer-designation{
                font-size: 85%;
            }

            .testimonial-writer-company{
                font-size: 85%;
            }
    /*---- Outlined Styles ----*/
    .testimonial.testimonial-default{
        
    }
        .testimonial.testimonial-default .testimonial-section{
            border-color: #777;
        }

            .testimonial.testimonial-default .testimonial-section:after{
                border-top-color: #777;
            }

        .testimonial.testimonial-default .testimonial-desc{
            
        }

            .testimonial.testimonial-default .testimonial-desc img{
                border-color: #777;
            }

            .testimonial.testimonial-default .testimonial-writer-name{
                color: #777;
            }

    .testimonial.testimonial-primary{
        
    }
        .testimonial.testimonial-primary .testimonial-section{
            border-color: #337AB7;
            color: #286090;
            background-color: rgba(51, 122, 183, 0.1);
        }

            .testimonial.testimonial-primary .testimonial-section:after{
                border-top-color: #337AB7;
            }

        .testimonial.testimonial-primary .testimonial-desc{
            
        }

            .testimonial.testimonial-primary .testimonial-desc img{
                border-color: #337AB7;
            }

            .testimonial.testimonial-primary .testimonial-writer-name{
                color: #337AB7;
            }

/*------- CSS OF PAGE ONCE CAMPAIGN IS MADE---------*/

    body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    }
    p {
    color:#A7A7A7;
    }
    a { 
    color:#85AD90;
    }

/*-Header-*/
.header {
    background-color: #99DEAB;
    border-bottom: 5px solid #85AD90;
    padding: 30px 0px;
}
.goal-summary {
    padding: 0px 40px;
}
.goal-summary .backers, .goal-summary .funded, .goal-summary .time-left, .goal-summary .reminder {
    margin: 10px 20px 10px 0px;
    padding-right: 20px;
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, 0.39);
}
.goal-summary .reminder.last {
    border:0;
}
.goal-summary .backers h3, .goal-summary .funded h3, .goal-summary .time-left h3 {
    background-color:#fff;
    padding:5px;
    margin:0px 0px 5px 0px;
    display:table;
    border-radius:4px;
    color:white;
}
.goal-summary .backers span, .goal-summary .funded span, .goal-summary .time-left span {
    color:#fff;
}
.goal-summary .reminder a {
    background-color:#fff;
    padding:8px;
    margin:0px 0px 10px 0px;
    display:table;
    border-radius:4px;
    text-decoration:none;
}
.goal-summary .reminder a:hover, .goal-summary .reminder a:focus {
    background-color:white;
    color:#fff;
}
@media (max-width: 767px) {
    .goal-summary {
        text-align: center;
        padding: 0px 40px;
    }
}
@media (max-width: 480px) {
    .goal-summary {
        padding: 0px;
    }
}

/*-Section Blocks-*/
.section-block {
    background-color: #102E43;
    border-radius:4px;
    padding: 30px;
    margin-bottom:30px;
    padding-top: none;
}
.section-block.summary {
    background-color: #102E43;
}
.section-block.summary h1 {
    color: #fff;
    display:block;
    text-align:center;
}
.section-block.transparent {
    background-color:transparent
}
.section-block.signup {
    background-color: none;
}
.section-block h1 {
    margin-top:0;
}
.section-title {
    color: white;
    border-radius: 4px;
    display: table;
    padding: 10px 0px;
    font-size: 25px;
    font-weight:700;
}

/*-Main Content-*/
.main-content {
    padding: none;
}

/*-Profile Summary-*/
.profile-contents {
    margin: 0 auto;
    text-align: center;
}
.profile-contents h2 {
    color:#FFF;
    font-size: 16px;
    line-height: 1.5;
    font-weight:300;
    margin-top: 5px;
    margin-bottom: 10px;
}
.profile-image {
    border-radius:50%;
    max-height: 180px;
    margin-bottom:10px;
}
.profile-contents ul li {
    padding:0;
    margin:5px;
}
.profile-contents ul li a {
    background-color: #B4B4B4 ;
    color: #FFF;
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.profile-contents ul li a i.fa {
    font-size: 20px;
    margin-top: 10px;
}
.profile-contents ul li a:hover {
    background-color:#AB0000;
}

#image_frame{
    background-color: black;
}
/*-Funding Meta-*/
.funding-meta {}
.funding-meta h1 {
    background: none;
    color: #fff;
    border-radius: 4px;
    display: table;
    padding: 10px;
    font-size: 25px;
    font-weight:700;
}
.type-meta {
    color:#A7A7A7;
    font-size: 12px;
    display: inline-block;
    margin: 0px 10px 10px 0px;
}
.type-meta i.fa {
    color: white;
    margin-right:5px;
}
.funding-meta h2{
    font-weight:700;
}
.funding-meta p {
    color: #A7A7A7;
    margin: 30px 0px 10px 0px;
}
.video-frame {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    display:block;
}
.video-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.funding-meta h2, .funding-meta span.contribution {
    display:inline-block;
    color: #B4B4B4 ;
}
.funding-meta span.contribution, .funding-meta span.goal-progress {
    color: #A7A7A7;
}
.funding-meta span.goal-progress {
    text-align:right;
    display: block;
}
.count-down {
    display: block;
    color: #A7A7A7;
    text-align: right;
    text-transform: uppercase;
}
.count-down strong {
    padding-right:5px;
}
.progress-bar {
    background-color: #BA000D;
    box-shadow:none;
}
.progress {
    height: 30px;
    background-color: #FFFFFF  ;
    box-shadow:none;
    margin: 10px 0px 10px 0px;
}

/*-Rewards-*/
.reward-block {
    position:relative;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    margin-bottom:10px;
}
.reward-block:hover {
    background-color: #E9ECFF;
}
.reward-block.last {
    margin-bottom:0;
}
.reward-block h3 {
    background: #212F3C;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    display: table;
    border-radius: 4px;
}
.reward-block h2 {
    font-size: 20px;
    font-weight: 300;
    color: #212F3C;
    margin: 15px 0px;
}
.reward-block i.fa {
    color:#212F3C;
}
.reward-block span {
    margin-bottom: 10px;
    display: block;
    color: #A7A7A7;
}
.reward-block.popular:after {
    position: absolute;
    top: 10px;
    right: 10px;
    content: "popular";
    background-color: #2ED9EA;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
}

/*-Sign up form-*/
.sign-up-form {
    text-align: center;
}
.sign-up-form p {
    font-weight:700;
    color:#fff;
}
.signup-input {
    width: 100%;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    max-width: 400px;
}
@media (max-width: 767px) {
    .signup-input {
        width: 75%;
        max-width: 100%;
    }
}
@media (max-width: 480px) {
    .signup-input {
        width: 100%;
        max-width: 100%;
    }
    .sign-up-form .btn.btn-signup {
        margin:10px 0px;
        width:100%;
        display:block;
    }
}

/*-Tabs-*/
.nav-tabs {
    border:0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #FFF;
    background-color: #212F3C;
    border: 0;
    border-radius: 4px;
    font-weight:700;
}
.nav-tabs>li>a, .nav-tabs>li>a:hover {
    border:0;
    margin-right: 10px;
    color:#A7A7A7;
}
.tab-content .section-title {
    margin-bottom: 20px;
    border-bottom: 1px solid #E2E2E2;
    display: block;
}

/*-Updates-*/
.update-post {
    margin-bottom: 30px;
    padding: 10px;
    background-color: #FDFDFD;
    border-radius: 4px;
}
.update-post .update-title {
    margin: 10px 0px;
    font-weight: 700;
}
.update-post .update-date {
    margin: 0px 0px 15px 0px;
    display: block;
    color: #A7A7A7;
    font-size: 12px;
}



/*-Buttons-*/
.btn {
    border:0;
}
.btn.btn-launch {
    background-color: white;
    color: black;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 25px;
}
.btn.btn-launch:hover, .btn.btn-launch:focus,.btn.btn-reward, .btn.btn-reward:hover, .btn.btn-reward :focus {
    background-color:#B4B4B4;
    box-shadow:none;
}
.btn.btn-reward {
    background-color: #212F3C;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 15px;
}
.btn.btn-signup {
    background-color:#212F3C;
    color: #fff;
    height: 40px;
    width: 43px;
    margin-left: 10px;
    border: 2px solid #fff;
    text-align: center;
}
.btn.btn-contact {
    background-color: #212F3C;
    color: #fff;
    font-weight:700;
}
.btn.btn-contact:hover, .btn.btn-contact:focus {
    background-color: #B4B4B4;
}
.btn.btn-contact i.fa {
    margin-right:10px;
}
.btn.btn-follow {
    background-color: #81A8F1;
    color: #fff;
    margin-bottom:10px;
}
.btn.btn-download {
    background-color: #85AD90;
    color: #fff;
}

/*-Credits-*/
.credit-block {
    padding: 20px;
    background-color: #FFF;
    border-radius: 4px;
    margin-bottom: 10px;
}
.credit-block.sources a{
    margin: 10px 0px;
    display: block;
}
.credit-block.license a.lined{
    text-decoration:underline;
}
.credit-block i.fa {
    padding-right:10px;
}

/*-Footer-*/
.footer {
    background-color: #85AD90;
    padding: 10px;
    text-align:center;
}
.copyright {
    color:#F7F7F7;
}
.copyright a {
    background: #fff;
    color: #85AD90;
    padding: 0px 5px;
    margin-left: 4px;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.col-md-8{
    padding-top: none;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

/*-Overrides-*/
.btn, input{
    outline:none;
    }

#campaign-background-image {
    background-image: url('http://i452.photobucket.com/albums/qq244/missnpk93/hzgs56ze49s-anthony-delanoix_zpsntk4lmwx.jpg');
   
    background-position: center top;
    background-attachment: scroll;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: cover;
    background-position: 0px -200px;
    overflow: visible;
    background-attachment: fixed;
    padding-bottom: none;
}

